<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Do you wanna delete this menu item {{menu_item.name}} ?</h1>
    <form action="{{url_for('deleteMenuItem', id_menu=menu_item.id, id_restaurant=menu_item.restaurant.id)}}" method="POST">
        <button type="submit">Yes</button> <button href="{{url_for('showMenu', id_restaurant=menu_item.restaurant.id)}}">No</button>
    </form>
</body>
</html>