<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Do you wanna edit {{menu_item.name}}</h1>
    <form action="#" method="POST">
        <input type="text" name="menuItemName" placeholder="{{menu_item.name}}">
        <input type="text" name="description" placeholder="{{menu_item.description}}">
        <input type="text" name="price" placeholder="{{menu_item.price}}">
        <button type="submit">Done</button> | <button>Cancel</button>
    </form>
</body>
</html>